@charset "utf-8";


.section {
  margin-top: 30px;
}

$prim: #2E86AB;
$sec: #F9C22E;
$dan: #E63946;
$lin: #2E86AB;

$primary: $prim;
$info: $sec;
$danger: $dan;
$link: $lin;



@import "../node_modules/bulma/bulma.sass";