<div class="tabs is-centered">
  <ul>
    <!--<li [class.is-active]="router.url=='/postr/text/help'"><a routerLink="help">Help</a></li>-->
    <li [class.is-active]="router.url=='/postr/text/create'"><a routerLink="create">Create</a></li>
    <li [class.is-active]="router.url=='/postr/text/preview'"><a routerLink="preview">Preview</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
