.container {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.19);
  min-height: 200px;
  padding: 10px;
}
