<div class="columns">
  <div class="column">
    <table class="table is-fullwidth is-bordered is-striped">
      <caption class="title">Tags</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Posts</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody *ngIf="tagList != null">
        <tr *ngFor="let tag of tagList">
          <td class="clickable" (click)="router.navigate(['tagposts', tag.name])">{{tag.name}}</td>
          <td>{{tag.status}}</td>
          <td>{{tag.totalposts}}</td>
          <td><a *ngIf="tag.totalposts == 0" class="delete" (click)="remove(tag.name)"></a></td>
        </tr>
      </tbody>
    </table>

    <div class="field has-addons">
      <p class="control is-expanded">
        <input #tagname class="input" type="text" placeholder="Tag Name">
      </p>
      <p class="control">
        <a (click)="create(tagname.value); tagname.value=''" class="button is-primary">
          Create
        </a>
      </p>
    </div>

  </div>
  <div class="column">
    <table class="table is-fullwidth is-bordered is-striped">
      <caption class="title">Reports</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Item ID</th>
          <th>Reason</th>
          <th>Reporter</th>
          <th>Type</th>
          <th>Post</th>
          <th>Content</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody *ngIf="reportList != null">
        <tr *ngFor="let report of reportList">
          <td>{{report.reportid}}</td>
          <td>{{report.reportedid}}</td>
          <td>{{report.reason}}</td>
          <td class="clickable" (click)="router.navigate(['profile', report.repname])">{{report.repname}}</td>
          <!--TODO link top profile-->
          <td>{{report.type}}</td>
          <td class="clickable" (click)="router.navigate(['post', report.postid])">{{report.postid}}</td>
          <!--TODO link to post-->
          <td>{{report.content}}</td>
          <td><a class="delete" (click)="removeReport(report.reportid)"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-infobox #info></app-infobox>