<table class="table is-fullwidth is-bordered is-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Posts</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let tag of tagList" (click)="router.navigate(['tagposts', tag.name])">
    <td>{{tag.name}}</td>
    <td>{{tag.status}}</td>
    <td>{{tag.totalposts}}</td>
  </tr>
  </tbody>
</table>
