<section class="section">
  <div class="field">
    <div class="control">
      <label class="label">URL</label>
      <input class="input" type="text" placeholder="Video URL" [(ngModel)]="postCreationService.post.content" (change)="urlChanged()">
    </div>
  </div>

  <div class="container">
    <lib-ngx-responsive-embed class="ratio-16by9" [innerHTML]="vidFrame" *ngIf="vidFrame">
    </lib-ngx-responsive-embed>
  </div>
</section>

