<!-- Posting success field-->
<div *ngIf="postcreated==true">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Success
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                Thanks for your commitment. Your post now gets to the voting phase.
                <br> We wish you the best of luck.
            </div>
        </div>
        <footer class="card-footer">
            <a href="/highlight" class="card-footer-item">Go to start</a>
            <a href="/postr" class="card-footer-item">Create another post</a>
        </footer>
    </div>
</div>

<div *ngIf="uploading==true">
    <progress class="progress is-large is-primary" max="100">60%</progress>
</div>

<div *ngIf="postcreated==false && uploading==false">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" [(ngModel)]="postCreationService.post.title" placeholder="Title">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Tags</label>
            <ng-select [items]="tagList" [multiple]="true" [maxSelectedItems]="2" bindLabel="name" bindValue="name"
                (change)="onTagChange($event)">
            </ng-select>
        </div>
    </div>

    <div class="tabs is-centered is-fullwidth">
        <ul>
            <li [class.is-active]='postCreationService.post.type == postType.TEXT'><a routerLink="text">Text</a></li>
            <li [class.is-active]='postCreationService.post.type == postType.IMAGE'><a routerLink="image">Image</a></li>
            <li [class.is-active]='postCreationService.post.type == postType.VIDEO'><a routerLink="video">Video</a></li>
        </ul>
    </div>

    <router-outlet></router-outlet>

    <div class="field">
        <div class="control">
            <a (click)="uploadPost()" class="button is-primary is-fullwidth is-large">Post!</a>
        </div>
    </div>

</div>

<app-infobox #info></app-infobox>