<div>

    <div class="notification is-success" [hidden]="!success">
        E-Mail was successfully changed!
    </div>

    <div class="notification is-danger" [hidden]="!alert">
        E-Mail could not be changed. You entered the wrong password or E-Mail!
    </div>
    <div class="field">
        <label class="label">Enter current password</label>
        <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" #passwordInput>
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Old E-Mail</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="E-Mail" #oldEmailInput>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">New E-Mail</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="E-Mail" #newEmailInput>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary"
                (click)="changeEmail(passwordInput.value, oldEmailInput.value, newEmailInput.value)">Submit</button>
        </div>
    </div>
</div>