<div class="modal" [class.is-active]="modalOpen">

    <div class="modal-background" (click)="modalOpen=false">
        <!--Maybe Image?-->
    </div>

    <div class="modal-card">

        <header class="modal-card-head">
            <p class="modal-card-title">Register</p>
            <button class="delete" (click)="modalOpen=false"></button>
        </header>
        <section class="modal-card-body">

            <div class="notification is-danger" [hidden]="!passwordFormat">
                Your password does not match.
            </div>

            <div class="notification is-danger" [hidden]="!mailFormat">
                Please enter a valid E-Mail.
            </div>
            <!--TODO Add validation-->
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Username" #registerUsername>
                </div>
            </div>
            <div class="field">
                <label class="label">E-Mail</label>
                <div class="control">
                    <input name="registerMail" class="input" type="email" placeholder="E-Mail" #registerEmail>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Password" #registerPassword>
                </div>
            </div>
            <div class="field">
                <label class="label">Password again</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Password" #registerPassword_again>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary"
                (click)="register(registerUsername.value, registerEmail.value, registerPassword.value, registerPassword_again.value);">Register</button>
            <button class="button" (click)="modalOpen=false">Cancel</button>
        </footer>


    </div>
</div>

<app-infobox #info></app-infobox>