<div *ngIf="post != null">
  <app-post [post]=post [active]=true></app-post>

  <div class="card" style="margin-top: 10px">
    <header class="card-header">
      <p class="card-header-title">
        Comments
      </p>
    </header>
    <div class="card-content">

      <div *ngFor="let comment of comments">
        <article class="media" *ngIf="!comment.parentid">
          <figure class="media-left">
            <p class="image is-48x48" (click)="router.navigate(['profile', comment.poster.username])">
              <img src="https://bulma.io/images/placeholders/96x96.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <a (click)="router.navigate(['profile', comment.poster.username])"><strong>{{ comment.poster.username}} </strong> </a><small>{{comment.date}} </small>
              <br>
               <markdown [data]="comment.text"></markdown>
              <br>
              <small>
                <a *ngIf="this.userservice.isLoggedIn()" (click)="modalOpen = true; this.parentid=comment._id">Reply</a> ·
                <a *ngIf="this.userservice.isLoggedIn()" (click)="report(comment._id)">Report</a> ·
                <a *ngIf="this.userservice.session && this.userservice.session.role == 'MODERATOR'" (click)="deleteComment(comment._id)">Delete</a>
              </small>
            </div>

            <!-- Sub Comments -->
            <div *ngFor="let subcomment of comments">
              <article *ngIf="subcomment.parentid == comment._id" class="media">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <a (click)="router.navigate(['profile', subcomment.poster.username])"><strong>{{ subcomment.poster.username}} </strong> </a><small>{{subcomment.date}} </small>
                    <br>
                    <markdown [data]="subcomment.text"></markdown>
                    <br>
                    <small>
                      <a *ngIf="this.userservice.isLoggedIn()" (click)="report(subcomment._id)">Report</a> ·
                      <a *ngIf="this.userservice.session && this.userservice.session.role == 'MODERATOR'" (click)="deleteComment(subcomment._id)">Delete</a>
                    </small>
                  </div>
                </div>
              </article>
            </div>

          </div>
        </article>
      </div>
    </div> <!-- End of card Content-->
    <footer class="card-footer" *ngIf="this.userservice.isLoggedIn()e">
      <p class="card-footer-item">
          <span>
            <a (click)="modalOpen = true; this.parentid=undefined">Write a Comment</a>
          </span>
      </p>
    </footer>
  </div> <!-- End of Comment Card-->
</div>

<!--TODO allow posts to always open for detail page-->


<div class="modal" [class.is-active]="modalOpen">
  <div class="modal-background" (click)="modalOpen = false"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Write Comment</p>
      <button class="delete" (click)="modalOpen = false"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <p class="control">
          <textarea class="textarea" [(ngModel)]=commenttext placeholder="Text"></textarea>
        </p>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="modalOpen = false; addComment()">Post Comment</button>
      <button class="button" (click)="modalOpen = false">Cancel</button>
    </footer>
  </div>
</div>

<div *ngIf="post == null">
  <p>Post not found</p>
</div>

<app-infobox #info></app-infobox>
