<section class="hero" [class.is-primary]="isUser" [class.is-info]="isModerator">
    <div class="hero-body">
        <div class="container">

            <p class="title is-1" style="text-align:left;">
                {{this.userservice.user.username}}
                <span class="has-text-right" style="float: right;">{{points}} Points</span>
            </p>


            <p class="subtitle is-3">
                {{role}}
            </p>
        </div>
    </div>
</section>

<div class="tabs is-centered is-fullwidth">
    <ul>
        <li [class.is-active]=isPostActive [class.is-primary]="isUser" [class.is-info]="isModerator">
            <a (click)="showPosts()">Posts</a>
        </li>
        <li [class.is-active]=isCommentActive [class.is-primary]="isUser" [class.is-info]="isModerator"><a
                (click)="showComments()">Comments</a></li>
    </ul>
</div>

<div class="container" [hidden]="!isPostActive">

    <div *ngIf="postList.length > 0">
        <div class="container">
            <ul>
                <li *ngFor="let post of postList">
                    <app-post [post]=post></app-post>
                </li>
            </ul>
        </div>
    </div>


    <div class="content" *ngIf="postList.length < 1">
        This user has not posted anything yet.
    </div>
</div>

<div [hidden]="!isCommentActive">
    <div class="content">
        <ul>
            <li *ngFor="let comment of commentList">
                <app-comment [comment]=comment></app-comment>
            </li>
        </ul>
    </div>

    <div class="content" *ngIf="commentList.length < 1">
        This user has not commented anything yet.
    </div>
</div>