<h1>
  What are you doing here?
</h1>
<p>Sorry, but you are not allowed to be here. Login to see this page</p>

<!--TODO buttons for login and register with text to encourage-->
<!--Register Modal-->
<app-register #registerModal></app-register>

<!--Login Modal-->
<app-login #loginModal></app-login>