<div class="modal" [class.is-active]="modalOpen">
    <div class="modal-background" (click)="modalOpen=false">
        <!--Maybe Image?-->
    </div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Login</p>
            <button class="delete" (click)="modalOpen=false"></button>
        </header>
        <section class="modal-card-body">
            <div class="notification is-danger" [hidden]="alert">
                You failed!
            </div>
            <div class="field">
                <label class="label">E-Mail</label>
                <div class="control">
                    <input class="input" type="email" placeholder="E-Mail" #loginEmail>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Password" #loginPassword>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" (click)="login(loginEmail.value, loginPassword.value)">Login</button>
            <button class="button" (click)="modalOpen=false">Cancel</button>
        </footer>
    </div>
</div>