<div class="modal" [class.is-active]="modalOpen">
  <div class="modal-background" (click)="modalOpen=false">
    <!--Maybe Image?-->
  </div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{title}}</p>
      <button class="delete" (click)="modalOpen=false"></button>
    </header>
    <section class="modal-card-body">
      <p>{{msg}}</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="modalOpen=false">Understood</button>
    </footer>
  </div>
</div>
