<div>

    <div class="notification is-success" [hidden]="!success">
        Password was successfully changed!
    </div>

    <div class="notification is-danger" [hidden]="!alert">
        Password could not be changed. You entered the wrong password!
    </div>

    <div class="notification is-warning" [hidden]="!nomatch">
        You entered two different passwords!
    </div>

    <div class="field">
        <label class="label">Enter current password</label>
        <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" #oldpassword>
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">New password</label>
        <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" #newpassword>
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Repeat new password</label>
        <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" #newpassword_again>
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-primary"
                (click)="changePassword(oldpassword.value, newpassword.value, newpassword_again.value)">Submit</button>
        </div>
    </div>
</div>