<section class="section">
  <div class="field">
    <div class="control">
      <textarea class="textarea" rows=30 [(ngModel)]="postCreationService.post.content"></textarea>
    </div>
  </div>
</section>

