<div *ngIf="user != null">
    <a href="/profile/{{user.username}}">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    {{user.username}}

                </p>

                <p class="subtitle" style="text-align:left;">
                    {{user.role}}
                    <span style="float:right;">{{user.points}} Points</span>
                </p>
            </div>
        </div>
    </a>
</div>