<!-- Filter-->
<div class="container">
    <div class=" card">
        <header class="card-header">
            <p class="card-header-title">
                Filter
            </p>
        </header>
        <div class="card-content">
            <div class="field" *ngIf="this.listType != listEnum.TAG">
                <label class="label">Tags</label>
                <div class="control">
                    <ng-select [(ngModel)]="selectedTagId" [items]="tagList" [multiple]="true" bindLabel="name"
                        (change)="onChange($event)">
                    </ng-select>
                </div>
            </div>

            <div class="field">
                <label class="label">Criteria</label>
                <div class="control">
                    <ng-select [(ngModel)]="criteria" [items]="['Time', 'Points']" [clearable]="false"
                        [multiple]="false" (change)="onChangeCrit($event)">
                    </ng-select>
                </div>
            </div>

            <div class="field">
                <label class="label">Direction</label>
                <div class="control">
                    <ng-select [(ngModel)]="direction" [items]="['Ascending', 'Descending']" [clearable]="false"
                        [multiple]="false" (change)="onChangeCrit($event)">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <ul *ngIf="postList != null">
        <li *ngFor="let post of postList">
            <div *ngIf="post != null">
                <app-post [post]=post></app-post>
            </div>
        </li>
    </ul>
</div>