<div class="container">
    <ul>
        <li *ngFor="let item of items">
            <app-post [post]="item" *ngIf="item.itemType=='post'">
            </app-post>
            <app-user [user]="item" *ngIf="item.itemType=='user'">
            </app-user>
            <!--TODO cards for user-->
        </li>
    </ul>
</div>