<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/highlight">
            <img src="../../../assets/images/logo.svg" width="112" height="28">
        </a>
        <a class="navbar-burger" (click)="burgerOpened=!burgerOpened" [class.is-active]="burgerOpened">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu" [class.is-active]="burgerOpened">
        <div class="navbar-start">
            <a class="navbar-item" (click)="burgerOpened=false" routerLink="/postr" routerLinkActive="active">
                PostR
            </a>
            <a class="navbar-item" (click)="burgerOpened=false" routerLink="/votr" routerLinkActivate="active">
                VotR
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Other
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/api">
                        API
                    </a>
                    <a class="navbar-item" (click)="burgerOpened=false" routerLink="/account">
                        Account
                    </a>
                    <a class="navbar-item" (click)="burgerOpened=false" routerLink="/alltags">
                        Tags
                    </a>
                    <a class="navbar-item" (click)="burgerOpened=false" routerLink="/moderator">
                        Moderator Area
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <input class="input" #searchParam type="text" placeholder="Search"
                    (keydown.enter)="router.navigate(['search', searchParam.value]); burgerOpened=false">
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <div *ngIf="!userService.isLoggedIn()">
                        <a class="button is-primary" (click)="registerModal.view(); burgerOpened=false">
                            Register
                        </a>
                        <a class="button is-primary" (click)="loginModal.view(); burgerOpened=false">
                            Login
                        </a>
                    </div>
                    <div *ngIf="userService.isLoggedIn()">
                        <a class="button is-primary" (click)="openProfile(); burgerOpened=false">
                            Profile
                        </a>
                        <a class="button is-primary" (click)="logout(); burgerOpened=false">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--Register Modal-->
<app-register #registerModal></app-register>

<!--Login Modal-->
<app-login #loginModal></app-login>