<section class="section">
  <div class="field">
    <label class="label">File</label>
  <div class="file is-right is-primary is-fullwidth">
    <label class="file-label">
      <input class="file-input" type="file" name="resume" (change)="onFileChange($event)" accept="image/png, image/jpeg">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Right file…
        </span>
      </span>
      <span class="file-name">
        {{postCreationService.post.content.name}}
      </span>
    </label>
  </div>
  </div>

  <div class ="container">
  <figure class="image">
    <img [src]="imgUrl" *ngIf="imgUrl" alt="Image">
  </figure>
  </div>
</section>

<app-infobox #info></app-infobox>
