<div>
    <div class="notification is-success" [hidden]="!success">
        Username was successfully changed!
    </div>

    <div class="notification is-danger" [hidden]="!alert">
        Something went wrong. Username could not be changed.
    </div>

    <div class="field">
        <label class="label">Enter current password</label>
        <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" #password>
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Change Username</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Username" #newName>
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-primary" (click)="changeUsername(password.value, newName.value)">Submit</button>
        </div>
    </div>
</div>