<section class="section">
    <div class="columns">
        <div class="column is-one-quarter">
            <aside class="menu">
                <p class="menu-label">
                    Account
                </p>
                <ul class="menu-list">
                    <li><a href="#" routerLink="changemail">Change E-Mail</a></li>
                    <li><a href="#" routerLink="changepassword">Change Password</a></li>
                    <li><a href="#" routerLink="changeusername">Change Username</a></li>
                    <!--<li><a href="#" routerLink="deleteaccount">Delete Account</a></li>-->
                </ul>
                <!--<p class=" menu-label">
                    Privacy & Security
                </p>
                <ul class="menu-list">
                    <li><a>User privacy</a></li>
                </ul>-->
            </aside>
        </div>


        <div class="column is-one-quarter">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>