<div *ngIf="voted==true">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Success
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Thanks for your commitment.
      </div>
    </div>
    <footer class="card-footer">
      <a href="/highlight" class="card-footer-item">Go to start</a>
      <a href="/votr" class="card-footer-item">Vote another one</a>
    </footer>
  </div>
</div>

<div *ngIf="voted==false">
  <div class="field">
    <label class="label">Tags</label>
    <div class="control">
      <ng-select [items]="tagList" [multiple]="true" bindLabel="name" (change)="onTagChange($event)">
      </ng-select>
    </div>
  </div>

  <div class="field">
    <label class="label">Category</label>
    <div class="control">
      <ng-select [items]="postTypeList" [multiple]="false" (change)="onTypeChange($event)">
      </ng-select>
    </div>
  </div>

  <div class="container" *ngIf="this.hasError==false && this.curSession">
    <div class="rows">
      <div class="row" id="topRow">
        <div class="columns">
          <div class="column is-one-thirds" *ngIf="curSession.post1; let post">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{post.title}}
                </p>
              </header>

              <div class="card-image" *ngIf="post.type==postEnum.IMAGE">
                <figure class="image">
                  <img [src]="post.content" alt="Image">
                </figure>
              </div>

              <div class="card-content" *ngIf="post.type==postEnum.TEXT">
                <div class="content">
                  <markdown [data]="post.content"></markdown>
                </div>
              </div>

              <div class="card-image" *ngIf="post.type==postEnum.VIDEO">
                <div class="content">
                  <lib-ngx-responsive-embed class="ratio-16by9" [innerHTML]="embedService.embed(post.content)">
                  </lib-ngx-responsive-embed>
                </div>
              </div>

              <footer class="card-footer">
                <a (click)="votePost(1)" class="card-footer-item">Vote</a>
              </footer>
            </div> <!-- End Card-->
          </div> <!-- End of column-->

          <div class="column is-one-thirds" *ngIf="curSession.post2; let post">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{post.title}}
                </p>
              </header>

              <div class="card-image" *ngIf="post.type==postEnum.IMAGE">
                <figure class="image">
                  <img [src]="post.content" alt="Image">
                </figure>
              </div>

              <div class="card-content" *ngIf="post.type==postEnum.TEXT">
                <div class="content">
                  <markdown [data]="post.content"></markdown>
                </div>
              </div>

              <div class="card-image" *ngIf="post.type==postEnum.VIDEO">
                <div class="content">
                  <lib-ngx-responsive-embed class="ratio-16by9" [innerHTML]="embedService.embed(post.content)">
                  </lib-ngx-responsive-embed>
                </div>
              </div>

              <footer class="card-footer">
                <a (click)="votePost(2)" class="card-footer-item">Vote</a>
              </footer>

            </div> <!-- End Card-->
          </div> <!-- End of column-->
        </div>
      </div>

      <div class="row" id="botRow">
        <div class="columns">
          <div class="column" *ngIf="curSession.post3; let post">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{post.title}}
                </p>
              </header>

              <div class="card-image" *ngIf="post.type==postEnum.IMAGE">
                <figure class="image">
                  <img [src]="post.content" alt="Image">
                </figure>
              </div>

              <div class="card-content" *ngIf="post.type==postEnum.TEXT">
                <div class="content">
                  <markdown [data]="post.content"></markdown>
                </div>
              </div>

              <div class="card-image" *ngIf="post.type==postEnum.VIDEO">
                <div class="content">
                  <lib-ngx-responsive-embed class="ratio-16by9" [innerHTML]="embedService.embed(post.content)">
                  </lib-ngx-responsive-embed>
                </div>
              </div>

              <footer class="card-footer">
                <a href="#" (click)="votePost(3)" class="card-footer-item">Vote</a>
              </footer>

            </div> <!-- End Card-->
          </div> <!-- End of column-->

          <div class="column is-one-thirds" *ngIf="curSession.post4; let post">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  {{post.title}}
                </p>
              </header>

              <div class="card-image" *ngIf="post.type==postEnum.IMAGE">
                <figure class="image">
                  <img [src]="post.content" alt="Image">
                </figure>
              </div>

              <div class="card-content" *ngIf="post.type==postEnum.TEXT">
                <div class="content">
                  <markdown [data]="post.content"></markdown>
                </div>
              </div>

              <div class="card-image" *ngIf="post.type==postEnum.VIDEO">
                <div class="content">
                  <lib-ngx-responsive-embed class="ratio-16by9" [innerHTML]="embedService.embed(post.content)">
                  </lib-ngx-responsive-embed>
                </div>
              </div>

              <footer class="card-footer">
                <a (click)="votePost(3)" class="card-footer-item">Vote</a>
              </footer>

            </div> <!-- End Card-->
          </div> <!-- End of column-->
        </div>
      </div>
    </div>
  </div>

  <article class="message is-danger" *ngIf="this.hasError==true">
    <div class="message-header">
      <p>Well...</p>
    </div>
    <div class="message-body">
      This is unfortunate. We have trouble creating a voting session. There seems to be not enought posts
      that fit your criteria.
    </div>
  </article>
</div>
