<div *ngIf="comment != null">
    <a href="/post/{{comment.parentpostid}}">
        <div class="card">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <p class="has-text-left">
                        commented on <strong>{{postTitle}}</strong>
                        <br>
                        >> {{ comment.text }}
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>