<div class="card" *ngIf="post != null">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/post/{{post.id}}">
        <strong>{{post.title}}</strong>
      </a>

      <a class="navbar-burger" (click)="burgerOpened=!burgerOpened" [class.is-active]="burgerOpened">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu" [class.is-active]="burgerOpened">
      <div class="navbar-start">
        <p class="navbar-item">
          Points: {{post.points}}
        </p>

        <p class="navbar-item">
          Time: {{post.timecreated | date:'HH:mm'}}
        </p>


      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control">
            <div class="tags has-addons" (click)="router.navigate(['tagposts', post.ptag.name])">
              <span class="tag is-dark">Primary</span>
              <span class="tag is-primary">{{post.ptag.name}}</span>
            </div>
          </div>
        </div>

        <div class="navbar-item">
          <div class="control">
            <div class="tags has-addons" (click)="router.navigate(['tagposts', post.stag.name])">
              <span class="tag is-dark">Secondary</span>
              <span class="tag is-info">{{post.stag.name}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="this.userService.isLoggedIn()" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
          <div class="navbar-dropdown">
            <a (click)="report()" class="navbar-item">
              Report
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a (click)="active = !active" class="button is-primary">
              <span class="icon">
                <i class="fas fa-angle-down"></i>
              </span>
            </a>
            <a (click)="delete()" *ngIf="userService.session && userService.session.role == 'MODERATOR'"
              class="button is-danger">
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="card-image" *ngIf="post.type==postEnum.IMAGE && active">
    <figure class="image is-16by9">
      <img [src]="post.content" alt="Image">
    </figure>
  </div>


  <div class="card-image" *ngIf="post.type==postEnum.IMAGE && active">
    <figure class="image is-16by9">
      <img [src]="post.content" alt="Image">
    </figure>
  </div>

  <div class="card-content" *ngIf="post.type==postEnum.TEXT && active">
    <div class="content">
      <markdown [data]="post.content"></markdown>
    </div>
  </div>

  <div class="card-image" *ngIf="post.type==postEnum.VIDEO && active">
    <div class="content">
      <lib-ngx-responsive-embed class="ratio-16by9" [innerHTML]="embedService.embed(post.content)">
      </lib-ngx-responsive-embed>
    </div>
  </div>



  <footer class="card-footer">
    <a class="card-footer-item" (click)="rate(rateEnum.UP)">
      <i class="fas fa-arrow-up">
      </i>
    </a>
    <a class="card-footer-item" (click)="rate(rateEnum.DOWN)">
      <i class="fas fa-arrow-down">
      </i>
    </a>
  </footer>
</div>

<app-infobox #info></app-infobox>
