<div>

    <div class="notification is-success" [hidden]="!success">
        Account was successfully deleted! You will be redirect to the Highlight-Page!
    </div>

    <div class="notification is-danger" [hidden]="!alert">
        E-Mail and/or password is wrong.
    </div>

    <div class="field">
        <label class="label">Enter password</label>
        <div class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" #password>
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Enter E-Mail</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="E-Mail" #email>
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-danger" (click)="deleteAccount(password.value, email.value)">Delete
                Account</button>
        </div>
    </div>

</div>